<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btchina.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.btchina.user.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="major" property="major" />
        <result column="mobile" property="mobile" />
        <result column="nickname" property="nickname" />
        <result column="avatar" property="avatar" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="country" property="country" />
        <result column="city" property="city" />
        <result column="description" property="description" />
        <result column="cover" property="cover" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
