<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btchina.content.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.btchina.content.entity.Comment">
        <id column="id" property="id" />
        <result column="answer_id" property="answerId" />
        <result column="user_id" property="userId" />
        <result column="parent_id" property="parentId" />
        <result column="to_user_id" property="toUserId" />
        <result column="content" property="content" />
        <result column="like_count" property="likeCount" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
