<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btchina.message.mapper.DialogUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.btchina.message.entity.DialogUser">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="dialog_id" property="dialogId" />
        <result column="unread_count" property="unreadCount" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
