<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btchina.message.mapper.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.btchina.message.entity.Message">
        <id column="id" property="id" />
        <result column="dialog_id" property="dialogId" />
        <result column="msg_id" property="msgId" />
        <result column="sender_id" property="senderId" />
        <result column="receiver_id" property="receiverId" />
        <result column="chat_type" property="chatType" />
        <result column="message_type" property="messageType" />
        <result column="content" property="content" />
        <result column="is_read" property="isRead" />
        <result column="extend" property="extend" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
