<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btchina.content.action.mapper.UserActionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.btchina.content.action.model.UserAction">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="object_id" property="objectId" />
        <result column="action_type" property="actionType" />
        <result column="object_type" property="objectType" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
